  body {background-color: aquamarine;
           font-family: Arial, Helvetica, sans-serif;
           font-size: large;
     }
     h1 {color: blue;
     }
     h2 {color: beige;}
     p {text-align: justify;}