@charset "UTF-8";

body {
    background-color: rgb(176, 167, 202);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: rgb(220, 211, 228);
}

h1 {
    color: rgb(59, 48, 82);
}

h2 {
    color: rgb(81, 68, 110);
}

.basico {
    color: green;
}

.intermediario {
    color: yellow
}

.avancado {
    color: red
}